.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 24px;
  position: relative;
}

.navbar-logo {
  width: 90px;
  height: 40px;
  object-fit: cover;
}

.menu-checkbox,
.navbar-logo-desktop {
  display: none;
}

.menu-icon {
  display: inline-block;
  width: 32px;
  height: 28px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-image: url("../public/icons/menu.svg");
}

.menu-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  border-top: 1px solid #e7e7e9;
  padding: 32px;
  background-color: white;
  pointer-events: none;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-list li {
  list-style: none;
  padding: 12px 0;
  cursor: pointer;
}

a {
  cursor: pointer;
}

li > a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.menu-checkbox:checked + .menu-icon + .menu-list {
  opacity: 100%;
  transform: translateX(0);
  pointer-events: auto;
}

.menu-checkbox:checked + .menu-icon {
  background-image: url("../public/icons/close.webp");
}

.navbar-right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-icon {
  margin-top: 10px;
  width: 24px;
  height: 24px;
}

.navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 48px;
}

.signup {
  font-weight: 600;
  color: white;
  background-color: black;
  border-radius: 24px;
  font-size: 13px;
}

.login,
.search-input {
  display: none;
}

@media (min-width: 950px) {
  .menu-icon,
  .menu-checkbox {
    display: none;
  }

  .navbar-left-side {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    position: relative;
    opacity: 1;
    pointer-events: auto;
    gap: 10px;
    transform: translateX(0);
    padding: 0;
    order: 2;
    border-top: 0;
    background-color: transparent;
  }

  .menu-list li {
    display: inline-block;
    padding: 0;
    margin: 0 10px;
  }

  .navbar-logo {
    order: 1;
  }

  .login {
    display: flex;
    order: 2;
  }
  .signup {
    order: 3;
  }
}

@media (min-width: 1060px) {
  .search-icon {
    display: none;
  }
  .search-input {
    display: inline-block;
    order: 1;
    width: 250px;
    height: 48px;
    padding: 0 24px 0 48px;
    border-color: transparent;
    border-radius: 30px;
    font-size: 14px;
    background-color: #fff;
    background-image: url("../public/icons/search.webp");
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    outline: none;
  }

  .search-input:focus {
    box-shadow: 0 0 1px 4px rgba(239, 196, 239, 0.5);
  }
}

@media (min-width: 1400px) {
  .navbar-logo {
    display: none;
  }

  .navbar-logo-desktop {
    display: flex;
    width: 96px;
    height: 37px;
    object-fit: cover;
    margin-bottom: 5px;
  }
}
